
<div class="container mt-5">
  <div class="row d-flex justify-content-between mt-2 mb-2">
    <h2 class="text-center">A Simple List of Your Files</h2>
    <app-upload [disabled]="loading" (loadingStatus)="loadingStatus($event)"></app-upload>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col" class="text-right">Size</th>
          <th scope="col" class="text-right">Type</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files | sort: 'uploadDate'; let i = index; trackBy: identify">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ file.fileName }}</td>
          <td class="text-right">{{ file.fileSize | formatBytes }}</td>
          <td class="text-right">{{ file.fileType }}</td>
          <td class="text-right">
            <app-download [disabled]="loading" [fileName]="file.fileName" (loadingStatus)="loadingStatus($event)"></app-download>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>